<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.christianlibertyinstitute.dictionary.webster1844</string>
	<key>CFBundleDisplayName</key>
	<string>Webster&apos;s Dictionary 1844</string>
	<key>CFBundleName</key>
	<string>Webster&apos;s 1844</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>CC0: To the extent possible under law, Christian Liberty Institute has waived all copyright and related or neighboring rights to this work. &lt;p&gt;Version: 1.0&lt;br&gt;Christian Liberty Institute website: &lt;u&gt;christianlibertyinstitute.org&lt;/u&gt;&lt;br&gt;Git repo: &lt;u&gt;codeberg.org/christianlibertyinstitute/webster1844&lt;/u&gt;&lt;br&gt;CC0 information: &lt;u&gt;creativecommons.org/publicdomain/zero/1.0&lt;/u&gt;</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Christian Liberty Institute</string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict/>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
</dict>
</plist>
